@keyframes anim-card {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes loader {
0% {
  height: 100vh;
}
99%{
  height: 100vh;
}
 100%{
   height: 0;
 }
}


@keyframes loader-main {
  0% {
    height: 0;
  }
  99%{
    height: 0;
  }
   100%{
     height: auto;
   }
  }




@keyframes anim-bar {

    0% {
        transform: scaleX(0);
        transform-origin: left;
        
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.4);
    }
    46% {
        transform: scaleX(.81);
    }
    85%,100%{
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left;

    }

}

@keyframes anim-body{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes anim-titre {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(15px);
    }
  }