* {
  font-family: map-get($font-family, Roboto);
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  background: $color-fond;
}

h2 {
  @include titre-section($colour : white);
}
h3 {
  @include titre-section();
}
h4 {
    font-family: map-get($font-family, Shrikhand);
    font-size: map-get($font-size, logo);
}
h4::first-letter {
  text-transform: uppercase;
}

.intro {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: #f5edff;
  width: 100vw;
  height: 0;
  z-index: 999999;
  animation: loader 3000ms both;
  animation-iteration-count: 1;
  overflow: hidden;
} 

.spinner-box {
  width: 105px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.spinner-text {
  display: block;
  position: absolute;
  z-index: 2;
  background-color: #f5edff;
  font-family: map-get($font-family, Shrikhand);
  font-size: 2rem;
 padding : 0 10px 0 10px;
} 
.circle-border {
  width: 95px;
  height: 95px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: $color-primary;
  background: linear-gradient(0deg, $color-secondary 0%, $color-primary 90%);
  animation: spin 1.2s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #f5edff;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .loader {
    width: 30%;
  }
}
body {
  animation: anim-body 100ms 150ms both;
}

main {
  overflow: hidden;
  height: auto;
  animation: loader-main 3s;
  animation-iteration-count: 1;
}

.logo {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  background: white;
  height: 60px;
  width: 100vw;
  box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.3);
  z-index: 9999;
}

.logo-text {
  text-align: center;
  font-family: map-get($font-family, Shrikhand);
  background: white;
  font-size: map-get($font-size, logo);
  width: 100%;
}

.logo__left {
  min-width: 70px;
  align-self: center;
  background: white;
}
.logo__left::before {
  padding-left: 20px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f060";
  font-size: 1em;
  background: white;
}

.logo__right {
  min-width: 70px;
}

.space {
  height: 60px;
  width: 100%;
 }

a {
  color: white;
  background: $color-footer;
  line-height: 1.5em;
  outline: none;
  text-decoration: none;
}
